.new-problem-inputs {
    display: grid;
    grid-template-rows: 30% 10% 40% 10%;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: ". desc ."
    ". name ."
    ". inputs ."
    ". btn .";
}

.new-problem-desc {
    grid-area: desc;
    text-align: center;
}

.new-problem-matrix-inputs {
    grid-area: inputs;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#matrix-input {
    height: 200px;
    width: 300px;
    overflow-x: auto;
    overflow-y: auto;
    resize: none;
    white-space: nowrap;
}

#count-input {
    height: 20px;
}

.new-problem-upload-button {
    height: 20px;
    width: 80px;
    grid-area: btn;
}

.new-problem-radio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.new-problem-inputs.small {
    grid-template-rows: 30% 10% 20% 20% 20%;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: ". desc ."
    ". name ."
    ". inputs ."
    ". btn ."
    ". . .";
}

.new-problem-name {
    grid-area: name;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

label {
    vertical-align: top;
}
