.problem-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    margin: 5px auto;

    border: double blue;

    height: 30%;
}

.problem-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.problem-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.problem-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.problem-task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.problem-input {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}